@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");

.bg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqFUoOzaBd_QpPk6HpTIOZZYXdqVUQJur72g&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  margin: 0;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.formbody {
  height: 520px;
  width: 400px;
  background-color: rgb(18, 20, 24);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.formbody * {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.formbody h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.signup {
  text-align: center;
  margin-top: -10px;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 226, 226, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.but {
  margin-top: 20px;
  width: 70%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.logbut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.or {
  margin: 10px 0px;
  text-align: center;
}

.or p {
  font-size: medium;
  font-weight: 900;
}
