.feed {
  display: flex;
  flex-direction: column;
  width: 50rem;
  justify-content: center;
}

@media only screen and (max-width: 1150px) {
  .widget {
    display: none !important;
  }

  .feed {
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
    width: 30rem;
  }
}
