@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
.qHeader {
  background-color: #fff;
  position: sticky;
  color: #000;
  z-index: 1000;
  top: 0px;
  box-shadow: 2px 3px 6px rgba(187, 187, 187, 0.5);
  padding: 3px;
}

.qHeader-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  text-decoration: none;
}

.qHeader__logo{
  text-decoration: none;
}

.qHeader__logo img{
  width: 3rem;
  height: 3rem;
}

.qHeader__icons {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  width: 52%;
  position: relative !important;
}

.logoname {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  font-size: large;
}

@media only screen and (max-width: 800px) {
  .logoname {
    margin-left: 1rem !important;
  }
}

.qHeader__icon {
  padding: 5px;
  cursor: pointer;
}

.qHeader__icon:hover {
  background-color: #eee;
  border-radius: 5px;
}

.qHeader__icon > .MuiSvgIcon-root {
  color: #000;
  font-size: xx-large;
  margin-left: 20px;
  margin-right: 20px;
}

.qHeader__icon:hover > .MuiSvgIcon-root {
  color: #666;
}

.qHeader__input {
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  border: 1px solid rgb(0, 0, 0) !important;
  padding: 5px !important;
  border-radius: 18px !important;
  margin-left: 10px !important;
  margin-right: 50px !important;
  height: 40px !important;
  padding: 5px;
  cursor: pointer;
}

.qHeader__input > input {
  text-align: center;
  margin-bottom: 6px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #000;
}

.qHeader__input ::placeholder {
  color: #666;
}

.qHeader__input > .MuiSvgIcon-root {
  color: rgb(55, 54, 54);
}

.qHeader__avatar {
  cursor: pointer;
  padding: 0px 0px 100px;
}

/* .qHeader__Avatarcom{
  margin-left: 100px;
} */

.qHeader__Rem {
  display: flex;
  align-items: center;
}

.qHeader__Rem > .MuiSvgIcon-root {
  font-size: xx-large;
  color: rgb(0, 0, 0);
  margin-left: 200px;
  cursor: pointer;
  align-self: right;
}

.qHeader__Rem > .MuiSvgIcon-root:hover {
  color: #000;
}

.qHeader__Rem > .MuiButton-root {
  color: #fff;
  background: #000;
  text-transform: inherit;
  border-radius: 5px;
  margin-left: 25px;
}

.qHeader__Rem > .MuiButton-root:hover {
  color: rgb(255, 255, 255);
  background: #666;
}

.modal__title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.modal__title > h5 {
  color: gray;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
}

.modal__title > h5:hover {
  color: #b92b27;
}

.modal__info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.modal__info > p {
  margin-left: 10px;
  font-size: small;
  color: gray;
}

.modal_info > .modal_scope {
  display: flex;
  align-items: center;
  color: rgb(98, 98, 98);
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 33px;
  cursor: pointer;
}

.modal__Field {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex: 1;
}

.modal_Field > .modal_fieldLink {
  color: gray;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.modal_Field > .modal_fieldLink > input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 5px;
}

.modal__Field_div {
  display: flex;
  flex-direction: column;
}

.modal__buttons {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  align-items: center;
}

.modal__buttons > .add {
  border: none;
  outline: none;
  margin-top: 45px;
  background-color: #222;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
  width: 50%;
}

.modal__buttons > .add:hover {
  background-color: #eee;
  color: #222;
}
